<!DOCTYPE html>
<html lang="zh" class="<%= args.env.SVC_ENV %>">
<head>
  <!-- 更多head配置信息 https://github.com/joshbuchea/HEAD -->
  <meta charset="utf-8">
  <!-- 让网页适配屏幕并且不可缩放 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="<%= require('./favicon.' + args.env.platform + '.ico').default %>">
</head>
<body>
<!-- polyfill 支持， 默认feature default,es2015,es2016,es2017,es2018,es5,es6,es7 -->
<script src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=default%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces5%2Ces6%2Ces7"></script>

<!--
Webpack cli parameters
--env <%= JSON.stringify(args.env) %>
--mode <%= args.mode %>

更多内置可访问对象见 https://github.com/jantimon/html-webpack-plugin#writing-your-own-templates
更多用例见 https://github.com/jaketrent/html-webpack-template
-->
</body>
</html>
